.info {
  font-size: small;
  font-weight: bold;
}
.header {
  display: flex;
  justify-content: space-between;
  max-height: 35px;
  margin-top: 10px;

  h2 {
    padding: 0px;
    margin: 0px;
  }
}
.buttons {
  display: flex;
  gap: 5px;
}
