.container {
  color: white;
  background: #141d29;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.button {
  color: white;
  background: #12294b;
  width: 100%;
  text-align: left;
  margin-bottom: 10px;
  border: none;
}
